 
/* home section styling */


  
  .video-container {
    z-index: -100;
    width:100%;
    height:75%;
    overflow:hidden;
    position:absolute;
    top:0;
    left:0;
    }
    
    #video-bg{
      width:100%;
     
    }
.home{
  
    display: flex;
    background: url("../assets/videos/video-1.mp4") no-repeat center;
    height: 75vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
    margin: auto 0 auto 30px;
}
.home .home-content .text-1{
   
    font-family: 'Roboto', sans-serif;
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: var(--color);
    font-weight: 500;
    font-family: 'ubuntu';
}
.home .home-content a{
    display: inline-block;
    
    color: var(--color);
    background: none;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid var(--color);
    transition: all 0.4s ease;
}
.home .home-content a:hover{
    transform: scale(1.1);
    background: var(--color);
    color: #fff;
}
