/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');


section{
    padding: 100px 0;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.about, .skill, .projects, .contact, footer{
    font-family: 'Poppins', sans-serif;
}
.about .about-content, 
.blog .blog-content,
.skill .skill-content,
.projects .projects-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 200px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: var(--color);
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);
}




/* responsive media query start */
@media (max-width: 1300px) {
  .home .max-width{
      margin-left: 0px;
  }
}




@media (max-width: 1104px) {
  .about .about-content .left img{
      height: 350px;
      width: 350px;
  }

  /* .blog .blog-content .left img{
    height: 350px;
    width: 350px;
} */
}

@media (max-width: 991px) {
  .max-width{
      padding: 0 50px;
  }

  
}

@media (max-width: 947px){
 
    .menu-btn{
        display: block;
        z-index: 999;
        color: white;
        font-size: 23px;
        cursor: pointer;
        transition: all 0.4s ease;
      }

      section .title::after{
       
        font-size: 15px;
 
    }
    
    
  
  .navbar .menu{
      position: fixed;
      height: 100vh;
      width: 100%;
      left: -100%;
      top: 0;
      background: #111;
      text-align: center;
      padding-top: 80px;
      transition: all 0.3s ease;
  }
  .navbar .menu.active{
      left: 0;
  }
  .navbar .menu li{
      display: block;
  }
  .navbar .menu li a{
      display: inline-block;
      margin: 20px 0;
      font-size: 25px;
  }

  .navbar .menu li a:hover{
    color: var(--color);
    padding: 0.5rem 1rem;
    border-bottom: 4px solid var(--color);
    transition: all 0.3s ease-out;
  }

  .navbar.sticky .menu li a:hover{
    color: var(--color);
    padding: 0.5rem 1rem;
    border-bottom: 4px solid var(--color);
    transition: all 0.2s ease-out;
  }

 
  .home .home-content .text-2{
      font-size: 70px;
  }
  .home .home-content .text-3{
      font-size: 35px;
  }
  .home .home-content a{
      font-size: 23px;
      padding: 10px 30px;
  }
  .max-width{
      max-width: 930px;
  }

  .about .about-content{
    display:block;
  }
  
  .about .about-content .column{
      width: 100%;
  }
  .about .about-content .left{
      display: flex;
      justify-content: center;
      margin: 0 auto 60px;
  }
  .about .about-content .right{
      flex: 100%;
  }


  
  .blog .blog-content{
    display:block;
  }
  
  .blog .blog-content .column{
      width: 100%;
  }
  .blog .blog-content .left{
      display: flex;
      justify-content: center;
      margin: 0 auto 60px;
  }
  .blog .blog-content .right{
      flex: 100%;
      width: 100%;
  }


  .skill .skill-content .card{
        width : 100%;
      margin-bottom: 20px;
  }
  
  .contact .contact-content .column{
      width: 100%;
      margin-bottom: 35px;
  }
  
}

@media (max-width: 690px) {
  .max-width{
      padding: 0 23px;
  }
  .home .home-content .text-2{
      font-size: 60px;
  }
  .home .home-content .text-3{
      font-size: 32px;
  }
  .home .home-content a{
      font-size: 20px;
  }
  .skill .skill-content .card{
      width: 100%;
  }
}

@media (max-width: 500px) {
  .home .home-content .text-2{
      font-size: 50px;
  }
  .home .home-content .text-3{
      font-size: 27px;
  }
  .about .about-content .right .text,
  .blog .blog-content .right .text,
  .projects .projects-content .left .text{
      font-size: 19px;
  }
  .contact .right form .fields{
      flex-direction: column;
  }
  .contact .right form .name,
  .contact .right form .email{
      margin: 0;
  }
  .scroll-up-btn{
      right: 15px;
      bottom: 15px;
      height: 38px;
      width: 35px;
      font-size: 23px;
      line-height: 38px;
  }
}